.storyboard + img,
.storyboard + .videowall-still-image {
  display: none;
}
.storyboard {
  background-color: black;
}
/*
  Modification of original layout
  video-time: it's covering the rating sparkbars
  yt-thumb-clip: it's weird positioning affecting the preview position
  thumb-wrapper: set overflow to visible to show the sparkbars
*/
.video-time {
  bottom: 6px !important;
}
.video-thumb .yt-thumb-clip {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.video-list-item.related-list-item .thumb-wrapper {
  overflow: visible;
}
/*
  Large size thumb 370px, .yt-thumb-370
*/
.yt-thumb-370 .yt-thumb-clip img {
  margin-top: -2.2rem;
}
.yt-thumb-370 .yt-thumb-clip .storyboard + img {
  margin-top: 0;
}
/*
  Preview Sparkbars
*/
.preview-sparkbars {
  clear: both;
  height: 4px;
  overflow: hidden;
}
.preview-sparkbars > .preview-sparkbar-likes,
.preview-sparkbars > .preview-sparkbar-dislikes {
  float: left;
  height: 4px;
}
.preview-sparkbar-likes {
  background: #167ac6;
}
.preview-sparkbar-dislikes {
  background: #ccc;
}
