@import '../bower_components/material-design-lite/material.min';

$preview-sparkbars-height: 6px;
$preview-sparkbars-likes-background-color: #167ac6;
$preview-sparkbars-dislikes-background-color: #ccc;

body.option-page::before {
  background-attachment: fixed;
  background-size: cover;
  bottom: 0;
  content: '';
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  will-change: transform;
  z-index: -1;
}
@media (max-width: 512px) and (min-resolution: 1.5dppx), (max-width: 1024px) and (max-resolution: 1.5dppx) {
  body.option-page::before {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/bg_2048.png');
    background-position: center;
  }
}
@media (min-width: 513px) and (max-width: 1024px) and (min-resolution: 1.5dppx), (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx) {
  body.option-page::before {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/bg_2048.png');
    background-position: center;
  }
}
@media (min-width: 1025px) and (min-resolution: 1.5dppx), (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body.option-page::before {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/bg_2048.png');
    background-position: center;
  }
}
body.option-page .preview-options {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.preview-options__posts {
  align-items: center;
  height: 100%;
  justify-content: center;
}
.mdl-card {
  min-width: 334px;
}
.mdl-card .mdl-card__title {
  color: #fff;
  padding: 0;
  height: 250px;
}
.preview-intervals .animated-background {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 1288px 946px;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/muybridge_horse.png');
  height: 236.5px;
  margin-left: auto;
  margin-right: auto;
  width: 322px;
}
.preview-sparkbars {
  clear: both;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 250px;
  transition: height 0.5s;
  width: 100%;
  > .preview-sparkbar-likes {
    background: $preview-sparkbars-likes-background-color;
  }
  > .preview-sparkbar-dislikes {
    background: $preview-sparkbars-dislikes-background-color;
  }
   > .preview-sparkbar-dislikes,
  > .preview-sparkbar-likes {
    float: left;
    height: $preview-sparkbars-height;
    transition: width 0.5s;
  }
}
.rating-bar {
  &.on {
    .preview-sparkbars {
      height: $preview-sparkbars-height;
    }
  }

  .background {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 322px 236.5px;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/youtube-logo.png');
    height: 236.5px;
    margin-left: auto;
    margin-right: auto;
    width: 322px;
  }
}

 .mdl-card__title-text {
  color: #ffffff;
  left: 18px;
  position: absolute;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  top: 210px;
}
.mdl-snackbar--active {
  transform: translate(-50%, 0);
}
.preview-options .preview-options__posts {
  display: flex;
  flex-shrink: 0;
  margin: 0 auto;
  max-width: 900px;
  padding: 0;
  width: 100%;
}
.preview-options.mdl-layout .mdl-layout__content {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.preview-options .mdl-card {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  min-height: 360px;
}
.preview-options .mdl-card__media {
  align-items: flex-end;
  background-size: cover;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 24px;
}
.preview-options .mdl-card__media a,
.preview-options .mdl-card__title a {
  color: inherit;
}
.preview-options .mdl-card__supporting-text {
  align-items: center;
  display: flex;
  min-height: 64px;
  padding: 16px;
  width: 100%;
}
.preview-options .mdl-card__supporting-text strong {
  font-weight: 400;
}
.preview-options .mdl-card__media ~ .mdl-card__supporting-text {
  min-height: 64px;
}
.preview-options .mdl-card__supporting-text:not(:last-child) {
  box-sizing: border-box;
  min-height: 76px;
}
.preview-options:not(.preview-options--blogpost) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
  border-top: 1px solid rgba(0,0,0,0.1);
}
.preview-options .mdl-card__actions:first-child {
  margin-left: 0;
}
.preview-options .meta {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: flex-start;
  padding: 16px;
}
.preview-options .meta > .meta__favorites {
  flex-direction: row;
  font-size: 13px;
  font-weight: 500;
  margin: 0 8px;
}
.preview-options .meta > .meta__favorites .material-icons {
  cursor: pointer;
  font-size: 2em;
  margin-left: 12px;
}
.preview-options .mdl-card .meta.meta--fill {
  justify-content: space-between;
}
.preview-options .meta > *:first-child {
  margin-right: 16px;
}
.preview-options .meta > * {
  display: flex;
  flex-direction: column;
}
.preview-options.is-small-screen .preview-options__posts > .mdl-card.coffee-pic {
  order: 0;
}
.preview-options.is-small-screen .preview-options__posts > .mdl-card.something-else {
  order: -1;
}
.preview-options .something-else .mdl-card__media {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.preview-options .something-else > button {
  position: absolute;
  right: 28px;
  top: 0;
  transform: translate(0px, -28px);
}
.preview-options .something-else .mdl-card__media {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-size: 13px;
  font-weight: 500;
}
.preview-options .something-else .mdl-card__media img {
  height: 64px;
  margin-bottom: 10px;
  width: 64px;
}
.preview-options .something-else .mdl-card__supporting-text {
  background-color: #F5F5F5;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.preview-options .preview-options__posts > .demo-nav {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  justify-content: space-between;
  margin: 12px 15px;
}
.preview-options .preview-options__posts > .demo-nav > .demo-nav__button {
  color: white;
  text-decoration: none;
}
.preview-options .preview-options__posts > .demo-nav .mdl-button {
  color: rgba(0,0,0,0.54);
  background-color: white;
}
.preview-options .preview-options__posts > .demo-nav > .demo-nav__button:first-child .mdl-button {
  margin-right: 16px;
}
.preview-options .preview-options__posts > .demo-nav > .demo-nav__button:last-child .mdl-button {
  margin-left: 16px;
}
.preview-options .mdl-card > a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}
.preview-options .mdl-card h3 {
  margin: 0;
}
.preview-options .mdl-card h3 a {
  text-decoration: none;
}
.preview-options .mdl-card h3.quote:after,
.preview-options .mdl-card h3.quote:before {
  display: block;
  font-size: 3em;
  margin-top: 0.5em;
}
.preview-options .mdl-card h3.quote:before {
  content: '“';
}
.preview-options .mdl-card h3.quote:after {
  content: '”';
}
.preview-options--blogpost .custom-header {
  background-color: transparent;
}
.preview-options--blogpost .comments {
  background-color: #EEE;
}
.preview-options--blogpost .meta > * {
  align-items: center;
}
.preview-options--blogpost .meta + .mdl-card__supporting-text {
  border: 0;
  display: flex;
  flex-direction: column;
}
.preview-options--blogpost .meta + .mdl-card__supporting-text p {
  font-size: 16px;
  line-height: 28px;
  margin: 16px auto;
  max-width: 512px;
}
.preview-options--blogpost .comments {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 32px;
}
.preview-options--blogpost .comments > form {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.preview-options--blogpost .comments > form .mdl-textfield {
  color: rgb(97, 97, 97);
  flex-grow: 1;
  margin-right: 16px;
}
/* Workaround for Firefox.
 * User agent stylesheet kept overwriting the font in FF only.
 */
.preview-options--blogpost .comments > form .mdl-textfield .mdl-textfield__input {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.preview-options--blogpost .comments > form .mdl-textfield input,
.preview-options--blogpost .comments > form .mdl-textfield textarea {
  resize: none;
}
.preview-options--blogpost .comments > form button {
  background-color: rgba(0, 0, 0, 0.24);
  color: white;
  margin-top: 20px;
}
.preview-options--blogpost .comments .comment {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}
.preview-options--blogpost .comments .comment > .comment__header {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.preview-options--blogpost .comments .comment > .comment__header > .comment__avatar {
  border-radius: 24px;
  height: 48px;
  margin-right: 16px;
  width: 48px;
}
.preview-options--blogpost .comments .comment > .comment__header > .comment__author {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.preview-options--blogpost .comments .comment > .comment__text {
  line-height: 1.5em;
}
.preview-options--blogpost .comments .comment > .comment__actions {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  justify-content: flex-start;
  margin-top: 16px;
}
.preview-options--blogpost .comments .comment > .comment__actions button {
  color: rgba(0, 0, 0, 0.24);
  margin-right: 16px;
}
.preview-options--blogpost .comments .comment > .comment__answers {
  padding-left: 48px;
  padding-top: 32px;
}
.preview-options--blogpost .demo-back {
  color: white;
  left: 16px;
  position: absolute;
  top: 16px;
  z-index: 9999;
}
.preview-options .section-spacer {
  flex-grow: 1;
}
.preview-options .something-else {
  overflow: visible;
  z-index: 10;
}
.preview-options .amazing .mdl-card__title {
  background-color: #263238;
}
/* Fixes for IE 10 */
.mdl-grid {
  display: flex !important;
  flex-wrap: nowrap !important;
}
.preview-options .mdl-mini-footer {
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  height: 120px;
  margin-top: 80px;
  padding: 40px;
}

.rewind-button {
  .background {
    background-color: #d21216;
    background-repeat: no-repeat;
    background-size: 322px 236.5px;
    height: 236.5px;
    margin-left: auto;
    margin-right: auto;
    width: 322px;
  }
}