$video-time-bottom: 6px;
$preview-sparkbars-height: 6px;
$storyboard-background-color: #000;
$no-preview-background-color: rgba(0, 0, 0, 0.5);
$no-preview-color: rgba(255, 255, 255, 0.5);
$no-preview-font-size: 20px;
$preview-sparkbars-likes-background-color: #167ac6;
$preview-sparkbars-dislikes-background-color: #ccc;
$enlarged-video-list-content-wrapper-margin-left: 180px;
$enlarged-video-list-thumb-height: 90px;
$enlarged-video-list-thumb-width: 160px;
$enlarged-video-list-image-height: 118px;
$enlarged-video-list-image-width: 160px;
$playlist-preview-sparkbars-margin-in-radio-playlist: 0 0 0 15px;
$playlist-preview-sparkbars-margin-in-video-playlist: 0 0 0 28px;
$playlist-preview-sparkbars-margin: 0 0 0 15px;
$playlist-preview-sparkbars-width: 72px;
$video-image-72-top-adjustment: -6px;
$video-image-120-top-adjustment: -11px;
$video-image-top-reset: 0;
$enlarged-playlist-preview-sparkbars-width: 160px;
$enlarged-playlist-video-thumb-height: 90px;
$enlarged-playlist-video-thumb-width: 160px;
$enlarged-playlist-video-image-height: 118px;
$enlarged-playlist-video-image-width: 160px;
$enlarged-video-image-top-adjustment: -14px;
$enlarged-video-image-top-reset: 0;
.storyboard {
  background-color: $storyboard-background-color;
  & + .videowall-still-image,
  & + img {
    display: none;
  }
}
.no-preview {
  background-color: $no-preview-background-color;
  color: $no-preview-color;
  font-size: $no-preview-font-size;
  position: absolute;
  text-align: center;
  z-index: 1;
}
/*
  Modification of original layout
  video-time: it's covering the rating sparkbars
  yt-thumb-clip: it's weird positioning affecting the preview position
  thumb-wrapper: set overflow to visible to show the sparkbars
*/
.video-list-item.related-list-item .video-actions,
.video-list-item.related-list-item .video-time,
.yt-lockup-thumbnail .video-actions,
.yt-lockup-thumbnail .video-time {
  bottom: $video-time-bottom;
}
.video-thumb .yt-thumb-clip {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.video-list-item.related-list-item .thumb-wrapper {
  padding-bottom: 4px;
}
.yt-thumb-72 .yt-thumb-clip {
  .storyboard + img {
    top: $video-image-top-reset;
  }
  img {
    position: relative;
    top: $video-image-72-top-adjustment;
  }
}
.yt-thumb-120 .yt-thumb-clip {
  .storyboard + img {
    top: $video-image-top-reset;
  }
  img {
    position: relative;
    top: $video-image-120-top-adjustment;
  }
}
/*
  Large size thumb 370px, .yt-thumb-370
*/
.yt-thumb-370 .yt-thumb-clip {
  img {
    margin-top: -2.2rem;
  }
  .storyboard + img {
    margin-top: 0;
  }
}
/*
  Preview Sparkbars
*/
.radio-playlist .preview-sparkbars {
  margin: $playlist-preview-sparkbars-margin-in-radio-playlist !important;
}
.playlist-video .preview-sparkbars {
  float: left;
  background-color: $preview-sparkbars-dislikes-background-color;
  margin: $playlist-preview-sparkbars-margin-in-video-playlist;
  width: $playlist-preview-sparkbars-width;
}
.preview-sparkbars {
  clear: both;
  height: $preview-sparkbars-height;
  overflow: hidden;
  transition: height 0.5s;
  > .preview-sparkbar-likes {
    background: $preview-sparkbars-likes-background-color;
  }
  > .preview-sparkbar-dislikes {
    background: $preview-sparkbars-dislikes-background-color;
  }
   > .preview-sparkbar-dislikes,
  > .preview-sparkbar-likes {
    float: left;
    height: $preview-sparkbars-height;
    transition: width 0.5s;
  }
  &.loading {
    height: 0;
     > .preview-sparkbar-dislikes,
    > .preview-sparkbar-likes {
      width: 0 !important;
    }
  }
}
.bookmark-mark {
  background-color: rgb(255, 179, 62);
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  transform-origin: 0 0;
  width: 3px;
  z-index: 42;
  &.bookmark-highlight {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgb(255, 179, 62);
    background-color: transparent;
    margin-bottom: 6px;
    margin-left: -3px;
  }
}
.bookmarks-menu {
  width: 100%;
  #bookmark-search {
    margin-top: 3px;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    .add-bookmark-btn {
      background: #f8f8f8;
      border-bottom-left-radius: 0;
      border-color: #d3d3d3;
      border-left: 0;
      border-top-left-radius: 0;
      color: #333;
      float: right;
      height: 29px;
      padding: 0;
      span {
        font-size: 20px;
        i {
          display: inline-block;
          background-size: auto;
          border: none;
          box-shadow: none;
          height: 15px;
          opacity: 0.6;
          margin: 0 25px;
          padding: 0;
          text-indent: -10000px;
          width: 15px;
          &.search-btn-icon {
            background: url('chrome-extension://__MSG_@@extension_id__/images/search.png');
          }
          &.add-btn-icon {
            background: url('chrome-extension://__MSG_@@extension_id__/images/add.png');
          }
        }
      }
    }
    #bookmark-search-terms {
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 2px #eee;
      box-sizing: border-box;
      font-size: 14px;
      height: 29px;
      line-height: 30px;
      margin: 0 0 2px;
      overflow: hidden;
      position: relative;
      transition: border-color 0.2s ease;
      input {
        background: transparent;
        border: 0;
        box-sizing: border-box;
        display: inline-block;
        font-size: 14px;
        height: 100%;
        left: 0;
        margin: 0;
        outline: none;
        padding: 2px 6px;
        position: absolute;
        width: 100%;
      }
    }
  }
}
.bookmark-panel-dismiss-btn {
  background: none;
  border: none;
  box-shadow: none;
  color: #333;
  filter: alpha(opacity=50);
  opacity: 0.5;
  position: absolute;
  right: 3px;
  top: 3px;
  &.yt-uix-button {
    border-radius: 2px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    height: 28px;
    line-height: normal;
    outline: 0;
    padding: 0 10px;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: normal;
  }
  &:before {
    background-size: auto;
    background: url('chrome-extension://__MSG_@@extension_id__/images/close.png');
    content: '';
    display: inline-block;
    height: 10px;
    vertical-align: middle;
    width: 10px;
  }
}
.bookmark-panel {
  background: #fff;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-sizing: border-box;
  margin: 0 0 10px;
  padding: 15px;
  position: relative;
}
.bookmarks-scrollbox {
  cursor: pointer;
  margin: 5px 3px;
  max-height: 15.6em;
  overflow-x: hidden;
  overflow-y: scroll;
  .bookmark-line {
    border-radius: 3px;
    border: 1px solid #fff;
    line-height: 1.3em;
    margin-right: 2px;
    width: 100%;
    &:hover {
      background-color: #d0e0fa;
      .bookmark-line-close-btn:before {
        display: inline-block;
      }
    }
    .bookmark-line-time {
      display: inline-block;
      width: 40px;
      color: #666;
      vertical-align: middle;
    }
    .bookmark-line-text {
      display: inline-block;
      overflow: hidden;
      width: 520px;
      vertical-align: middle;
    }
    .bookmark-line-close-btn {
      background: none;
      border: none;
      box-shadow: none;
      color: #333;
      cursor: pointer;
      display: inline-block;
      filter: alpha(opacity=50);
      float: right;
      line-height: normal;
      opacity: 0.5;
      outline: 0;
      padding-left: 11px;
      padding-right: 11px;
      text-decoration: none;
      vertical-align: middle;
      &:before {
        background-image: url('chrome-extension://__MSG_@@extension_id__/images/close.png');
        background-repeat: no-repeat;
        background-size: 8px 8px;
        content: '';
        display: none;
        height: 8px;
        vertical-align: middle;
        width: 8px;
      }
    }
  }
}
.action-panel-trigger-bookmarks {
  background: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-family: Roboto,arial,sans-serif;
  font-size: 11px;
  font-weight: 500;
  height: 28px;
  line-height: normal;
  margin: 0;
  opacity: 0.5;
  outline: 0;
  padding: 0 10px;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  &.action-button-bookmarks-toggled {
    opacity: 0.8;
  }
  &:before {
    background: url('chrome-extension://__MSG_@@extension_id__/images/bookmark-icon.png');
    content: '';
    display: inline-block;
    height: 20px;
    margin-right: 6px;
    vertical-align: middle;
    width: 20px;
  }
}